#form__container {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  background-color:darkslategray;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lobby__form {
  padding: 2em;
}

#form__container__header {
  border-radius: 10px 10px 0 0;
  padding: 10px;
  text-align: center;
  background-color: rgb(41, 68, 68);
  margin: 0;
  font-size: 300;
  font-size: 1.4rem;
  line-height: 0;
}

.form__field__wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form__field__wrapper label {
  font-size: 1.2rem;
  line-height: 1.7em;
  margin-bottom: 10px;
  display: block;
}

.form__field__wrapper input {
  box-sizing: border-box;
  color: whitesmoke;
  font-size: 1.2rem;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 16px 20px;
  background-color:rgb(64, 103, 103);
}


.form__field__wrapper button[type='submit'] {
  margin-top: 32px;
  cursor: pointer;
  background-color:rgb(34, 61, 61);
  border: none;
  color:whitesmoke;
  font-size: 16px;
  width: 50%;
  position: relative;
  left: 25%;
  right: 25%;
  padding: 12px;
  border-radius: 5px;
  gap: 10px;
}

.form__field__wrapper button[type='submit'] svg {
  fill: white;
  width: 20px;
}

#avatar__selection {
  margin-reight: 10px;
  display: flex;
  gap: 1em;
}

.avatar__option {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #797a79;
}

.avatar__option__selected {
  border: 3px solid #739556;
}
